main>div:nth-of-type(1),
main>div:nth-of-type(2) {
  font-family: 'Permanent Marker', cursive;
}
span {
  font-weight: 300;
  font-style: italic;
}
main {
  display: grid;
  grid-template-areas:
    "learning learning learning"
    "js and react"
    "names names names";
  grid-template-rows: 100px auto 60px;
}
main>div:nth-of-type(1) {
  grid-area: learning;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
main>div:nth-of-type(2) {
  grid-area: and;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
main>figure:nth-of-type(1) {
  grid-area: js;
  display: flex;
  justify-content: center;
  align-items: center;
}
main>figure:nth-of-type(2) {
  grid-area: react;
  display: flex;
  justify-content: center;
  align-items: center;
}
main>div:nth-of-type(3) {
  grid-area: names;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
main>div:nth-of-type(3) p {
  background-color: rgba(50, 50, 50, 0.7);
}
figure {
  max-width: 100%;
}
img {
  max-width: 100%;
}