main {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
form {
  background-color: #ddd;
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
}
form > fieldset {
  padding: 15px;
}
form > fieldset > div {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}
form > fieldset > div:last-of-type {
  margin-bottom: 0px;
  margin-top: 30px;
  align-items: center;
}
form > fieldset > div:last-of-type input {
  padding: 7px 10px;
}
form > fieldset > div:nth-of-type(1) label,
form > fieldset > div:nth-of-type(2) label,
form > fieldset > div:nth-of-type(3) label {
  width: 100%;
  font-weight: 500;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#error {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 20px 0px 10px 20%;
  padding: 20px 5px;
  background-color: brown;
  border: cornsilk 1px solid;
  border-radius: 7px;
  width: 60%;
}

#profile {
  margin-top: 20px;
  align-self: center;
  background-color: #ddd;
  width: 100%;
  padding: 20px 10px;
  border-radius: 10px;
}

#profile a {
  border: 1px solid black;
  padding: 7px 8px;
  color: black !important;
  border-radius: 10px;
}

#profile span {
  font-weight: 500;
  margin-right: 5px;
}

#user_photo {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 20px;
}

#user_photo > img {
  max-width: 95%;
  margin: 5%;

}

#user_photo > figcaption {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px 0px;
  background-color: rgb(182, 47, 47);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
}

#user_info p,
#user_repos p {
  padding: 7px;
  padding-left: 0px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 10px;
}

#user_info span,
#user_repos span,
#user_repos > p:nth-child(1) {
  padding: 7px;
  color: white;
  background-color: rgb(182, 47, 47);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#user_repos > p:first-of-type {
  margin-bottom: -15px;
  margin-top: 25px;
  text-align: center;
  font-weight: 500;
}

#user_repos > div > p:last-of-type {
  margin-bottom: 0px;
}

#user_repos > div {
  margin-top: 30px;
  padding: 0px 30px;
}

@media screen and (min-width: 600px) {
  main {
    padding: 20px 15vw;
  }

  form > fieldset > div {
    margin: 15px 10%;
    margin-top: 0px;
  }
}

@media screen and (min-width: 768px) {
  form > fieldset > div {
    margin: 15px 20%;
    margin-top: 0px;
  }
}

@media screen and (min-width: 1000px) {
  #user_info {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(2, 1fr);
  }

  #user_info > p {
    width: 97%;
    justify-self: center;
  }
}